<h2>{{title4}}</h2>
<ul>
    <li>
        List Test
    </li>
</ul>

<div class="col-6 bg-primary text-white shadow p-3 ">
    <form id = "formname">
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" placeholder="Enter First and Last Name">
          </div>
          <div class="mb-3">
            <label for="Phone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="Phone" placeholder="Enter Phone Number">
          </div>
          <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" placeholder="Enter Email">
          </div>